.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 21px;
    margin: 0 auto 92px;
    object-fit: contain;
}
@media only screen and (max-width: 1184px) {
    .photo-grid {
        margin-left: 24px;
        margin-right: 24px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        margin-bottom: 92px;
    }
}
@media only screen and (max-width: 1025px) {
    .photo-grid {
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media only screen and (max-width: 775px) {
    .photo-grid {
        margin-bottom: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .photo-grid {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
}
