.modal__form-control {
	border-radius: 5px;
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

@media only screen and (max-width: 500px) {
	.modal__form-control {
		width: 238px;
		margin-top: 30px;
	}
}
