.modal__close-bar {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	margin-right: -3rem;
	margin-top: -3.5rem;
	margin-left: auto;
}
.modal__close-bar:hover {
	opacity: 0.6;
}
@media only screen and (max-width: 500px) {
	.modal__close-bar {
		margin-top: -2rem;
		margin-right: 0rem;
		width: 26px;
		height: 26px;
	}
}
