.profile {
	max-width: 880px;
	display: flex;
	position: relative;
	margin-top: 40px;
	margin-bottom: 50px;
	align-content: flex-start;
}

@media only screen and (max-width: 700px) {
	.profile {
		flex-direction: column;
		align-items: center;
	}
}
