.photo-grid__card {
	max-width: 282px;
	max-height: 361px;
	min-width: 282px;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
