.modal__submit{
    display: block;
    width: 100%;
	margin: 0 10px;
    padding: 15px 40px;
	font-size: 20px;
	border: 1px solid #fff;
	border-radius: 50px;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
	background: #000000;
opacity: 0.8;
border-radius: 2px;
}

.button:active {
	background-color: #000;
	/* transform: scale(95%); */
}   