.container {
  position: relative;
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  /* display: none; */
};

.container:hover{
    /* content:'';
    display: inline;
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-image: url(../../images/AvatarHover.svg); background-repeat: no-repeat; */
    opacity: .2;
}
.container:hover img.profile__icon-edit{
    opacity: 1;
}