.modal__form-control {
	height: 50px;
	width: 400px;
	border-radius: 5px;
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 500px) {
	.modal__form-control {
		height: 26px;
		width: 238px;
		margin-top: 30px;
	}
}
