.page{
    position: relative;
    align-content: center;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;

}

/* @media only screen and (max-width: 600px) { */
    /* .page{
        max-width: 340px;
        margin-left: 19px;
        margin-right: 19px;
     
    } */