.photo-grid-add-mobile {
	display: none;
}

@media only screen and (max-width: 700px) {
	.photo-grid-add-mobile {
		display: block;
		margin: 0;
		padding: 0;
	}
}
.photo-grid-add-mobile:hover {
	opacity: 0.6;
}
