.header {
	padding-top: 45px;
	padding-bottom: 41px;
	max-height: 74px;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media only screen and (max-width: 900px) {
	.header {
		padding-left: 27px;
	}
}
