.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 0 auto 92px;
    padding-bottom: 67px;
    object-fit: cover;
    align-items: stretch;
    border-radius: 10px;
    background-color: #000;
}
@media only screen and (max-width: 1184px) {
    .photo-grid {
        margin-left: 60px;
        margin-right: 60px;

    }
}
@media only screen and (max-width: 1025px) {
    .photo-grid {
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media only screen and (max-width: 775px) {
    .photo-grid {
    
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .photo-grid {
        margin-left: 19px;
        margin-right: 19px;
        grid-template-columns:minmax(250px, 1fr);
    }
}
