.photo-grid {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
    /* margin: 0 auto 92px; */
    padding-bottom: 67px;
    object-fit: contain;
    align-items: stretch;
    border-radius: 10px;
    background-color: #000;
    overflow: hidden;
    min-width: 320px;
}
@media only screen and (max-width: 1184px) {
    .photo-grid {
        margin-left: 24px;
        margin-right: 24px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        margin-bottom: 92px;
    }
}
@media only screen and (max-width: 1025px) {
    .photo-grid {
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media only screen and (max-width: 775px) {
    .photo-grid {
        margin-bottom: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .photo-grid {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
}
