.profile__name {
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (max-width: 800px) {
	.profile__name {
		font-family: 'Inter', Arial, sans-serif;
		font-style: medium;
		font-size: 32px;
		line-height: 37px;
}

@media only screen and (max-width: 400px) {
	.profile__name {
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		margin-bottom: 14px;
	}
}
