.photo-grid__add {
	padding-top: 10px;
	margin-left: 165px;
}

@media only screen and (max-width: 900px) {
	.photo-grid__add {
		margin-left: 0;
	}
}
@media only screen and (max-width: 700px) {
	.photo-grid__add {
		display: none;
		padding: 0;
	}
}
.photo-grid__add:hover {
	opacity: 0.6;
}
