.profile__icon-edit{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
	background-image: url(../../../images/pencil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .8);
    max-height: 100%;
    width: 100%;
    cursor: pointer;
    transition: ease .2s;
}

.profile__icon-edit:hover{
    opacity: 1;
}

