.profile__picture-rounded {
	border-radius: 50%;
	max-width: 120px;
	height: 100%;
	background-color: #000;
	display: inline;
}
@media only screen and (max-width: 900px) {
	.profile__picture-rounded {
		margin-left: 27px;
	}
}

@media only screen and (max-width: 700px) {
	.profile__picture-rounded {
		margin-bottom: 26px;
		margin-left: auto;
		margin-right: auto;
	}
}


.profile__picture-rounded:hover {
  /* opacity: 0.2; */
  display: block;
  background-image: url(../../../images/pencil.png) center no-repeat; 
}