.modal__contents {
	background-color: #fff;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
}
@media only screen and (max-width: 750px) {
	.modal {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
	}
}
@media only screen and (max-width: 500px) {
	.modal__contents {
		padding-left: 22px;
		padding-right: 22px;
		padding-bottom: 25px;
		margin-top: 25px;
	}
}
