.modal__close-bar {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	margin-right: -5rem;
	margin-top: -5.5rem;
	margin-left: auto;
}
.modal__close-bar:hover {
	opacity: 0.6;
}
@media only screen and (max-width: 500px) {
	.modal__close-bar {
		margin-right: -5rem;
	}
}
