.button {
	margin: 0;
	padding: 15px 40px;
	font-size: 20px;
	background: #000000;
	border-radius: 2px;
	border: 1px solid #fff;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s, transform 0.2s;
	text-align: center;
	max-width: 358px;
	margin-left: 36px;
	margin-right: 36px;
}

.button:hover {
	background-color: #4c4b4b;
}

.button:active {
	background-color: #838282;
	transform: scale(95%);
}
@media screen and (max-width: 500px) {
	.button {
		margin-top: 21px;
		margin-bottom: 25px;
	}
}
